@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --font-barlow: 'Barlow Semi Condensed';
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
}

@keyframes aurora {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .scrolling-wrapper {
      animation: scroll-left 20s linear infinite;
    }

.text-barlow {
  font-family: var(--font-barlow);
}

.aurora-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.aurora-bg::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120vw;
  height: 120vh;
  transform: translate(-50%, -50%);
  background: radial-gradient(ellipse 60% 40% at 40% 30%, #FF6900 0%, transparent 50%);
  filter: blur(80px);
  opacity: 1;
  pointer-events: none;
  animation: infinite aurora 20s linear infinite;
}

.calendly-overlay {
  display: block !important;
  opacity: 1 !important;
  z-index: 99999 !important;
}
.calendly-popup {
  display: block !important;
  opacity: 1 !important;
  z-index: 99999 !important;
}
